{% extends 'appuno/base.html' %}

{% block all-personality %}


<br /><br /><br />
<div class  = "container-fluid">

<div class = "row-fluid">
    <div class="col-sm-7 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class = "row">
                            <div class = "col-sm-12">
                                <h4 class = "">Personalites</h4>
                            </div>
                        </div>
                </div>


                    <div class="panel-body">



                    <div class = "row" style = "background-color: ">
                      {% for p in personalities %}
                      	<div class = "col-sm-2">

                          <a href = "/personality/get/{{ p.id_personality }}">
                          <img src = "{{ p.img_pers_thumbnail.url }}" alt = "Personality" id = "img1" width = "150px" height = "120px"/></a><br>

                          <div class = "caption">
                            <h4 style = "font-size: 15px">{{ p.first_name }} {{ p.last_name }}</h4>
  				                </div>
  						          </div>
                      {% endfor %}


                    </div>



                    </div>

            </div>
        </div>
</div>


</div>


<style>

#img1 {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

#img1:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}

</style>


<!-- Hover User Details - END -->




{% endblock %}
