{% extends 'appuno/base.html' %}


{% block all-news %}

<div class  = "container-fluid">

<div class = "row-fluid">
    <div class="col-sm-7 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class = "row">
                            <div class = "col-sm-12">
                                <h4 class = "">##########</h4>
                            </div>
                        </div>
                </div>


                    <div class="panel-body">


                    {% for new in news %}
                     <div class = "row" style = "background-color: ">

                       <br />
                       <hr/>
                         	<div class = "thumbnails">
    	                    	<div class = "col-sm-5">
    	                    		<div class = "caption">
    					              <h2 style = "color: lightblue">{{ new.title }}</h2>
    					              <p style = "text-align: justify">{{ new.description | lower | truncatewords:'50' }}</p>

    					              <p><a href = "/news/get/{{ new.id_news }}/" class = "btn btn-default btn-small">View details &raquo;</a></p>

    					            </div>
    	                    	</div>

    	                    	<div class = "col-sm-5">
                              <img src="{{ new.img_new_thumbnail.url }}" alt = "IMAGE" width = "400px" height = "250px"/>

    	                    	</div>

    	                    	<div class = "col-sm-2">
    	                    		############
    	                    	</div>
                       		</div>


                    </div>
                    {% endfor %}


                    </div>

            </div>
        </div>
</div>


</div>



{% endblock %}
