<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title%} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static 'appuno/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'appuno/bootstrap/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'appuno/bootstrap/css/style2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'appuno/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static 'appuno/js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'appuno/bootstrap/js/bootstrap.min.js' %}"></script>


    <!-- jQuery mini-->
    <script src="{% static 'js/jquery-1.8.1.min.js' %}" async="" type="text/javascript"></script>
    <!-- custom javascript -->
   <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>


</head>
<body style=  "background-color: rgb(250, 250, 250)">


  <!--  header -->

  <div class = "navbar navbar-inverse-top">

  		<br />

  		<div class = "container">


            <div class = "collapse navbar-collapse navbar-responsive-collapse">

                <form class="navbar-form pull-left" role="search">
                    <div class="input-group add-on">
                      <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" size = "90">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                    </div>
                </form>

                <ul class = "nav navbar-nav pull-right masthead-nav">
                		<li class = "active"><a href = "/politique-page/"><img src = "{% static 'appuno/img/home.png' %}" alt = "Home" style = "width: 30px;"> &nbsp;&nbsp;Home</a></li>

                		<li><a href = "#"><img src = "{% static 'appuno/img/news.png' %}" alt = "Events" style = "width: 30px;"> &nbsp;&nbsp;Events</a></li>

                		<li><a href = "/login/"><img src = "{% static 'appuno/img/login.png' %}" alt = "Login" style = "width: 30px;"> &nbsp;&nbsp;Login</a></li>
            	  </ul>

            </div>

      </div>

      <hr style = "width: 1300px; background-color: red">

  </div>



  <!-- end of header -->

  <!-- Home Page-->
  {% block home-page %} {% endblock %}

  <!-- left menu -->
  {% block left-menu %} {% endblock %}

  <!-- user login form -->
  {% block login-form %} {% endblock %}

  <!-- user registration form -->
  {% block registration-form %} {% endblock %}

  <!--signle new page -->
  {% block single_new %} {% endblock %}

  <!--signle pesonality page -->
  {% block personality-single-page %} {% endblock %}

  <!--all news -->
  {% block all-news %} {% endblock %}

  <!-- all personality -->
  {% block all-personality %} {% endblock %}

  <!-- home1 -->
  {% block home1 %} {% endblock %}

  <!-- education-page block  -->
  {% block education-page %} {% endblock %}


</body>
</html>
