{% extends "appuno/base.html" %}


{% block title %}

<title>Home Page</title>

{% endblock %}


{% block navbar %}

<!-- navbar -->
<div class = "navbar navbar-inverse-top">

		<br />
		<div class = "container">


          <div class = "collapse navbar-collapse navbar-responsive-collapse">

              <form class="navbar-form pull-left" role="search">
                  <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" size = "90">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
              </form>

              <ul class = "nav navbar-nav pull-right masthead-nav">
              		<li class = "active"><a href = "#"><img src = "{% static 'appuno/img/home.png' %}" alt = "Home" style = "width: 30px;"> &nbsp;&nbsp;Home</a></li>

              		<li><a href = "#"><img src = "{% static 'appuno/img/news.png' %}" alt = "Events" style = "width: 30px;"> &nbsp;&nbsp;Events</a></li>

              		<li><a href = "#"><img src = "{% static 'appuno/img/login.png' %}" alt = "Login" style = "width: 30px;"> &nbsp;&nbsp;Login</a></li>
          	  </ul>

          </div>

    </div>

    <hr style = "width: 1300px; background-color: red">

</div><!-- end nav bar-->


{% endblock %}
