{% extends 'appuno/base.html' %}

{% block single_new %}

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e1d36d5f-6720-4833-8378-ae74b3b6e049", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<div class  = "container">

<div class = "row">
    <div class="col-sm-9">
            <div class="panel panel-default">
                <!--<div class="panel-heading">
                    <div class = "row">
                            <div class = "col-sm-12">
                                <h4 class = "col-md-offset-4">Barack Obama</h4>
                            </div>
                        </div>
                </div>-->


                    <div class="panel-body">

	                    <div class = "row">
	                        <span class='st_sharethis_large' displayText='ShareThis'></span>
	                        <span class='st_facebook_large' displayText='Facebook'></span>
	                        <span class='st_twitter_large' displayText='Tweet'></span>
	                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
	                        <span class='st_pinterest_large' displayText='Pinterest'></span>
	                        <span class='st_email_large' displayText='Email'></span>

	                        <hr />
	                      </div>

                        <div class = "row">

                   	    <h3>{{ new.title }}</h3>
                   	    <hr/>


	                      <div class = "row">

                          <img src="{{ new.img_new_thumbnail.url }}" class = "col-md-offset-2" width = "600px" height = "350px">
	                      	<p class = "col-md-offset-2 col-md-8" style = "text-align: left; font-size: 12px">
	                      		{{ new.publisher }}
	                      	</p>
	                      </div>

	                      <br />

	                      <div class = "row">

<pre style = "background: transparent; border: none">
<p class = "col-md-offset-2 col-md-8" style = "text-align: left; font-size: 14px">
{{ new.description }}
</p>
</pre>

<hr />
	                      </div>

                    </div>

            </div>
        </div>
</div>


</div>


{% endblock %}
