{% extends 'appuno/base.html' %}

{% block personality-single-page %}

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e1d36d5f-6720-4833-8378-ae74b3b6e049", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<div class="container" style = "background-color: ">

<!-- Accordion - START -->
<div class="container-fluid">
    <div class="row-fluid">

        <!--<div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" ><span class="glyphicon glyphicon-plus"></span> Feeds</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                    <ul class="list-group">


                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Politique</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-success"></span> <a href = "#">Education</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-warning"></span> <a href = "#">Entrepreneuriat</a></li>


                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Economie</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Musique</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Sport</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Arts</a></li>

                    </ul>
                    </div>
                </div>
            </div>
        </div>-->


        <div class="col-sm-4 col-sm-push-">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class = "row">
                            <div class = "col-sm-12">
                                <h4 class = "col-md-offset-2">{{ personality.first_name }} {{ personality.last_name }}</h4>
                            </div>
                        </div>
                </div>


                    <div class="panel-body">


                        <div class = "row">
                            <div class = "col-sm-12">

                                <img src = "{{ personality.img_pers_thumbnail.url }}" alt = "Personality"/>
                                <p style = "text-align: center">Portrait officiel de Barack Obama, en 2012.</p>
                            </div>
                        </div>

                        <div class = "row" style = "background-color: lightblue">
                            <div class = "col-sm-12">
                                <p style = "text-align: center">Fonction</p>
                            </div>
                        </div>

                        <div class = "row" style = "background-color: lightblue">
                            <div class = "col-sm-12">

                            </div>
                        </div>






                    </div>

            </div>
        </div>





        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class = "row">
                            <div class = "col-sm-12">
                                <h4 class = "col-md-offset-4">Barack Obama</h4>
                            </div>
                        </div>
                </div>


                    <div class="panel-body">









                    </div>

            </div>
        </div>








    </div>
</div>


<div class  = "container-fluid">

<div class = "row-fluid">
    <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class = "row">
                            <div class = "col-sm-12">
                                <h4 class = "col-md-offset-4">Barack Obama</h4>
                            </div>
                        </div>
                </div>


                    <div class="panel-body">


                        <span class='st_sharethis_large' displayText='ShareThis'></span>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                        <span class='st_pinterest_large' displayText='Pinterest'></span>
                        <span class='st_email_large' displayText='Email'></span>

                    </div>

            </div>
        </div>
</div>


</div>

{% endblock %}
