{% extends 'appuno/base.html' %}
{% load staticfiles %}



{% block education-page %}


<div class  = "container-fluid">

<div class = "row-fluid">

	<div class="col-sm-2 col-md-2 col-md-offset-1">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <p data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> Feeds</p>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <ul class="list-group">


                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "/politique-page/">Politique</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-success"></span> <a href = "/education-page/">Education</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-warning"></span> <a href = "#">Entrepreneuriat</a></li>


                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Economie</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Musique</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Sport</a></li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a href = "#">Arts</a></li>

                    </ul>
                    </div>
                </div>
            </div>
        </div>



<div class="col-sm-7 col-md-offset-0"><!-- start of col-sm-7 -->

	<!-- Start of News tabulation -->
        <div class="panel panel-default">

					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#red" data-toggle="tab">Top News</a></li>
						<li><a href="#orange" data-toggle="tab">Views all News</a></li>

						<!--<li><a href="#green" data-toggle="tab">Green</a></li>
						<li><a href="#blue" data-toggle="tab">Blue</a></li>-->
					</ul>


							<div class="panel-body">




<div id="my-tab-content" class="tab-content">


	<!-- Tabulation partie 1 -->

<div class="tab-pane" id="red">

{% for new in edu_news %}

<div class = "container">

<div class = "row">

			<div class = "col-sm-6">

				<a href = "/politique-page/">{{ new.news_type }}</a>
				<h2><a href = "#">{{ new.title }}</a></h2>
				<p style = "text-align: justify">{{ new.description | lower | truncatewords:'30' }}
				</p>

				<p>
					<a href = "/news/get/{{ new.id_news }}/" class = "btn btn-primary btn-xs">View details &raquo;</a></p>


					<a href = "#">{{ new.publisher }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ new.created_at }}
				</p>

			</div>

			<div class = "col-sm-4">

				<img src="{{ new.img_new_thumbnail.url }}" alt = "IMAGE" width = "350px" height = "200px">

			</div>

			<div class = "col-sm-2"></div>


	</div>

</div>

<hr />
{% endfor %}

</div>
<!-- End of Tabulation partie 1 -->





    <!-- Tabulation partie 2 -->

<div class="tab-pane" id="orange">

{% for new in all_edu_news %}

<div class = "container">

	<div class = "row">

				<div class = "col-sm-4">

					<img src="{{ new.img_new_thumbnail.url }}" alt = "IMAGE" width = "350px" height = "200px">

				</div>

				<div class = "col-sm-6">

					<a href = "/politique-page/">{{ new.news_type }}</a>
					<h2><a href = "/news/get/{{ new.id_news }}/">{{ new.title }}</a></h2>
					<p style = "text-align: justify">{{ new.description | lower | truncatewords:'30' }}

					<p><a href = "/news/get/{{ new.id_news }}/" class = "btn btn-primary btn-xs">View details &raquo;</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href = "#">{{ new.publisher }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ new.created_at }}
					</p>


				</div>

				<div class = "col-sm-2"></div>


		</div>

</div>

<hr />
{% endfor %}

</div>




</div><!-- tabulation content -->

			        </div><!-- end body content -->

        </div>

				<!-- end of News tabulation -->




				<!-- Start of personality tabulation -->




				<div class="panel panel-default">

					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#perso1" data-toggle="tab">Top Personality</a></li>
						<li><a href="#perso2" data-toggle="tab">Views all News</a></li>

						<!--<li><a href="#green" data-toggle="tab">Green</a></li>
						<li><a href="#blue" data-toggle="tab">Blue</a></li>-->
					</ul>


							<div class="panel-body">




<div id="my-tab-content" class="tab-content">

<!-- Tabulation partie 1 -->


<div class="tab-pane" id="perso1">


<div class = "container-fluid">

	<div class = "row">
		{% for p in personality %}

			<div class = "col-sm-2">
				<br />
				<a href = "/personality/get/{{ p.id_personality }}"><img src = "{{ p.img_pers_thumbnail.url }}" alt = "Personality" id = "img1"/></a>
				<p style = "font-size: 15px; color: lightblue"><b>{{ p.first_name }} {{ p.last_name }}</b></p>
			</div>
			{% endfor %}
	</div>

</div>




</div><!-- end red id -->

		<!-- End Tabulation partie 1 -->






		<!-- Tabulation partie 2 -->

<div class="tab-pane" id="perso2">

{% for p in personality %}

<div class = "container">

<div class = "row">

												<div class = "col-sm-4">

													<img src = "{{ p.img_pers_thumbnail.url }}" alt = "IMAGE" width = "350px" height = "200px">

												</div>

												<div class = "col-sm-4">

													<a href = "#">Politique</a>
													<h4 style = "line-height: 168%">Name: Jean Kenley<br>
														Conjoint: Ti Mary<br>
														Birth Place : Port-au-Prince<br>
														Profession : Avocat<br>
														Diplômé de: Havard University<br>
														Parents: Kenley Jean et Benita Verdieu

													</h4>

												</div>

												<div class = "col-sm-4">

													<a href = "#">&nbsp;</a>
													<h4 style = "line-height: 168%">Name: Jean Kenley<br>
														Conjoint: Ti Mary<br>
														Birth Place : Port-au-Prince<br>
														Profession : Avocat<br>
														Diplômé de: Havard University<br>
								<button type="button" class="btn btn-primary btn-xs">View details</button>

													</h4>

												</div>


										</div>

</div>

<hr />
{% endfor %}

</div>


</div><!-- tabulation content -->

							</div><!-- end body content -->

				</div>






				<!-- end of Personality tabulation -->








				<div class="panel panel-default">

							<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
								<li class="active"><a href="#red" data-toggle="tab">Top News</a></li>
								<li><a href="#orange" data-toggle="tab">Views all News</a></li>

								<!--<li><a href="#green" data-toggle="tab">Green</a></li>
								<li><a href="#blue" data-toggle="tab">Blue</a></li>-->
							</ul>

            <div class="panel-body">

								<div class = "container-fluid">

									<div class = "row">
											<div class = "col-sm-6">
												<a href = "#"><img src = "{% static 'appuno/img/play.png' %}" width = "500px"></a>
												################
											</div>

											<div class = "col-sm-6">
												<a href = "#">
													<img src = "{% static 'appuno/img/play.png' %}" width = "500px"></a>
												################
											</div>
									</div>

								</div>


            </div>
        </div>






</div><!-- end col-sm-7 -->




<!-- ########################################################## -->









<!-- ######################################################### -->



</div>





</div>






{% endblock %}
