{% extends 'appuno/base.html' %}

{% block registration-form %}

<!-- Registration Form - START -->
 <div class="container" style="margin-top: 150px">
        <div class="row centered-form">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title text-center">Please Register</h3>
                  </div>
                  <div class="panel-body">
                      <form role="form">
                          <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
                          </div>

                          <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
                          </div>

                          <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
                          </div>

                          <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                  <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
                                  </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                  <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
                                  </div>
                              </div>
                          </div>

                          <button class="btn btn-sm btn-primary btn-block col-md-4" type="submit">S'enregistrer</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
</div>



{% endblock %}
