{% extends 'appuno/base.html' %}


{% block login-form %}

<script type="text/javascript">

	$(document).ready(function(){
		$("#myModal").modal('show');
	});

	function signUp(){

		$(document).ready(function(){
				$("#myModal").modal('hide');
			});

		$(document).ready(function(){
		$("#signup").modal('show');
		});
	}

</script>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">

        </div>

          <div class="modal-body">



            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title"><strong>Sign In </strong></h1>
              </div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                  <label for="email">Username or Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" required="required"/>
                  </div>
                  <div class="form-group">
                  <label for="pwd">Password <a href="/sessions/forgot_password">(forgot password)</a></label>
                  <input type="password" class="form-control" id="pwd" placeholder="Password" required="required"/>
                  </div>


                  <button type="button" class="btn btn-default col-md-3" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary col-md-3 col-md-offset-1">Login</button>

                </form>
              </div>
            </div>

          <span class="pull-left">
          <a href="#signup" onclick="signUp()">Nouveau Utilisateur</a></span><br /><br />

          <div class="modal-footer">

          </div>


        </div>
      </div>
    </div>
</div>



<div id="signup" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">

	           <div class="modal-header">

            	</div>

	            <div class="modal-body">


<div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title text-center">Please Register</h3>
      </div>
      <div class="panel-body">
          <form role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
              </div>

              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Username" required="required"/>
                      </div>
                  </div>
              </div>

              <button class="btn btn-sm btn-primary btn-block col-md-4" type="submit">S'enregistrer</button>
          </form>
      </div>
  </div>



<div class="modal-footer"></div>


	            </div>

	        </div>
	    </div>
	</div>


{% endblock %}
